<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RaspGameController.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D305A58321D0E3CA00CC2569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D305A59721D0E3CF00CC2569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D305A5A221D0E3CF00CC2569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
